<h1 class="display-4">Books</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Book</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(function(book) {%>
            <tr>
                <td><%= book.id %> </td>
                <td><%= book.title %> </td>
                <td><%= book.author %></td>
                <td>
                    <form class="d-inline" action="/book/delete/<%= book.id %>" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>