<h1 class="display-4">Hello! It's me, your bookshelf!</h1>
<p class="mb-4">This is Sails.js app for managing your books</p>
<a href="/customer/list" class="btn btn-light">View book</a>
<a href="/customer/add" class="btn btn-light">Add book</a>