<h1 class="display-4">Hello! It's me, your bookshelf!</h1>
<p class="mb-4">This is Sails.js app for managing your books</p>
<a href="/book/list" class="btn btn-light">View books</a>
<a href="/book/add" class="btn btn-light">Add book</a>